main{
	margin-top: 2em;
	text-align: center;
}

table {
    max-width: none;
    table-layout:fixed
}

.soundwaves{
	max-width: 100%;
}

.logo{
	max-height: 38px;
}

.btn-signup{
	margin-right: 1em;
}

nav {
	font-weight: 500;
}

.intro-2 {
    background: url("/static/img/hero-image.jpg")no-repeat center center;
    background-size: cover;
}

html, body{
    min-height: 100%;
}

a:hover{
    color: #1E0A6E;
    text-decoration: none;
}

#content{
	margin-top: 75px;
	min-height: 50px;
	margin-bottom: 24px;
}
.view{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 75vh;
    overflow: hidden;
    background-attachment: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
}

h1{
	font-size: 4.5rem;
	margin-bottom: 1rem;
}

h2{
	color: #1E0A6E;
}

h3{
	margin-bottom: 1.5rem;
}

h4 {
	margin-bottom: 1rem;
}

.btn-secondary{
	background-color: #28AAFA;
	border: none;
}

.btn {
	border-radius: 2rem;
	padding: .375rem 1rem;
}

.btn-lg {
    padding: 1rem 2rem;
}

.primary {
	color: #1E0A6E;
}

.form-class {
	max-width: 480px;
	padding: 30px;
	margin: 0 auto;
}

.footer {
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	text-align: center;
	color: rgba(0,0,0,.5);
	position: relative;
}

.footer p{
	margin-bottom: 0rem !important;
}

.section{
	position: relative;
    padding-top: 25px;
    padding-bottom: 25px;
}

.home-feature-row {
    justify-content: center;
    align-items: center;
    text-align: left;
}

.home-feature-row-img{
	max-width: 100%;
	height: 500px;
}

.feature-block-indent {
	padding-left: 30px;
}

.text-btn{
	position: relative;
    display: flex;
    align-items: center;
    color: #28AAFA;
    font-size: 24px;
    line-height: 1.6;
    font-weight: 500;
}

.btn-arrow-icon{
	width: 22px;
    margin-left: 10px;
}