main{
	margin-top: 2em;
	text-align: center;
}

table {
    max-width: none;
    table-layout:fixed
}

.soundwaves{
	max-width: 100%;
}

.logo{
	max-height: 38px;
}

.btn-signup{
	margin-right: 1em;
}

nav {
	font-weight: 500;
}

.intro-2 {
    background: url("/static/img/hero-image.jpg")no-repeat center center;
    background-size: cover;
}

html, body{
    height: 100%;
}

#content{
	position: relative;
	top: 60px;
}
.view{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 75vh;
    overflow: hidden;
    background-attachment: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
}

h1{
	font-size: 4.5rem;
	margin-bottom: 1rem;
}

h4 {
	margin-bottom: 1rem;
}

.btn-secondary{
	background-color: #28AAFA;
	border: none;
}

.btn {
	border-radius: 2rem;
	padding: .375rem 1rem;
}

.btn-lg {
    padding: 1rem 2rem;
}

.primary {
	color: #1E0A6E;
}

.form-class {
	max-width: 480px;
	padding: 30px;
	margin: 0 auto;
}