{% extends 'main_template.html' %}

{% block title %}PodProd Podcast Overview{% endblock %}

{% block main %}

<div class="container">

    <h1>Here is an overview of your files</h1>

  	<table class="table table-striped">
  		<tr>
  			<th>Filename</th>
  			<th>Action</th>
        <th>Transcribe</th>
        <th>Transcription</th>
  		</tr>
  	{% for result in entries %}
    	{% if ".wav" in result %}
	    	<tr>
	    		<td>{{ result }}</td>
	    		<td><form action="" method="POST"> <button type="submit" name="play_file" class="btn btn-primary" value={{ result }}>Play</button></form></td>

	    	</tr>
    	{% endif %}
	{% endfor %}
	</table>

</div>

{% endblock %}