{% extends 'main_template.html' %}

{% block title %}PodProd Podcast Remove Silence{% endblock %}

{% block main %}

<div class="container">

    <h1>Here is an overview of your files</h1>

  	<table class="table table-striped">
  		<tr>
  			<th>Filename</th>
  			<th>Edit</th>
  			<th>Before</th>
  			<th>After</th>
  		</tr>
  	{% for result in entries %}
    	{% if ".wav" in result %}
	    	<tr>
	    		<td>{{ result }}</td>
	    		<td>
            {% if dict[result] == None %}
              <form action="" method="POST"> <button type="submit" name="filename" class="btn btn-primary" value={{ result }}>Remove Silence</button></form>
            {% else %}
              <a href="/get-wav/{{ result }}"><button type="submit" name="filename" class="btn btn-primary" value={{ result }}>Download</button></a>
            {% endif %}
          </td>
	    		<td><img class="soundwaves" src="static/img/{{  result [:-4] + ".png"}}"></td>
	    		<td><img class="soundwaves" src="static/img/{{  result [:-4] + '_new.png'}}"></td>
	    	</tr>
    	{% endif %}
	{% endfor %}
	</table>

</div>

{% endblock %}